.popup__input {
    border: none;
    border-bottom: 1px solid rgb(118, 118, 118);
    margin: 30px 0 0;
    padding: 0 0 13px;
    font-size: 14px;
    line-height: 17px;
}

.popup__input:first-child {
    margin: 0;
}